<!DOCTYPE html>
<html>
  <%- include('./partials/header') %>
  <body>   
   <%- include('partials/navbar') %>
  	<div class="bs-component">
      <div class="jumbotron">
        <div class="title-box">
          <div class="circle">
            <img class="title-image" src="assets/point.png"/>
          </div>
        </div>
        <h1><%= site.defaults.Title %></h1>
        
      </div>
    </div>
     <%- include('partials/footer') %>
  </body>
</html>
